@import url("normalize.css");

a{
	text-decoration: none;
}

body,html
{
	background: #EEE;
	font-family: Helvetica, Arial;
	font-size: 16px;
	text-align: center;
}

img
{
	max-width: 100%;
}

.cabecera,.contenido
{
	display: inline-block;
	vertical-align: top;
	width: 15%;
}

.cabecera, .contenido, #respuesta, #precarga, .tabla td, .tabla th
{
	padding: 1em;
}

.contenido
{
	background: white;
	width: 80%;
}

#insertar
{
	color: #292623;
	font-size: 1.5em;
	background: orange;
	padding: .5em;
	border-radius: .5em .5em;
	top: .5em;
	position: relative;
}

#insertar:hover
{
	color: #EC673A;
}

#respuesta, #precarga
{
	display: none;
}

.error, .exito
{
	background: red;
	color: white;
	padding: 1em;
}

.exito
{
	background: green;
}

.formulario, .tabla p
{
	text-align: left;
}

.formulario div {
	margin: 1em auto;
}

.formulario legend {
	font-size: 2em;
	font-weight: bold;
}

/*Table superHeroes*/
.tabla {
	margin: auto;
	width: 95%;
}

.tabla a {
	color: #EEE;
}

.tabla a:hover {
	color: #292623;
}

.tabla img {
	max-width: 200px;
}

.tabla td {
	vertical-align: top;
}

.tabla th {
	background: rgba(192,192,192,0.3);
	color: yellow;
}

.tabla tr:nth-child(odd){
	background: steelblue;
}

.tabla tr:nth-child(even){
	background: orange;
}

